{
  "presets": ["es2015", "stage-2"],
  "env": {
    "test": {
      "plugins": [
        ["css-modules-transform", {
            "generateScopedName": "[name]__[local]",
            "extensions": [".css", ".scss"]
        }]
      ]
    },
    "dev": {
      "plugins": []
    }
  }
}