@import "../../common_styles/colors";

.container {
  border: 1px solid $grey;
};

.editor {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(204, 204, 204);
  cursor: text;
  min-height: 80px;
  padding: 10px;
}