@import "../../common_styles/colors";

.container {
  border: 1px solid $grey;
};

.editor {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(204, 204, 204);
  cursor: text;
  min-height: 80px;
  padding: 10px;
}

.block {
  &__BOLD, &__ITALIC, &__UNDERLINE, &__unordered-list-item, &__ordered-list-item, &__unstyled,
  &__blockquote, &__header-one, &__header-two, &__header-three, &__header-four, &__header-five,
  &__header-six, &__add, &__hr {
    color: inherit;
  }
  &__alignment {
    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }
}