.accordion {
    border-top: 1px solid #cccccc;
    padding: 1rem;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    &__input, &__button {
      margin: 0 10px;
    }
    &__label {
      color: #999;
      display: flex;
      align-items: center;
    }
    &__button {
      appearance: none;
      border: 1px solid #cccccc;
      background-color: #FFF;
      border-radius: 0;
      color: #999;
      font-size: .875rem;
    }
}

.decorator {
  color: blue;
}


